<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AccountingDBconnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EmployeeAccountingDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>